{% extends "base.html" %}
{% set body_class = 'body_index' %}

{% block container1 %}
  <!-- Bootstrap navigation bar -->
  <nav class="navbar navbar-expand-lg  navbar-dark" style="background-color: black; color: white;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">STUDENT INFORMATION SYSTEM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/student">STUDENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/course">COURSE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/college">COLLEGE</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Image Upload Section -->


  <!-- Student input form -->
  <form  method="POST" action="/student/edit">
               <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
               <div id="student_image_container" class="form-group student_image_container">
                <img id="student_info_image" src="{{ photo or "https://res.cloudinary.com/dclxaugvd/image/upload/v1701787020/ssis/Brown_And_Orange_Retro_Photography_Club_Logo_1_in3n78.png" }}" alt="{{ id }}">
              </div>
               <div class="form-group text-center">
                <input id="photo" type="text" name="photo" value="https://res.cloudinary.com/dclxaugvd/image/upload/v1701787020/ssis/Brown_And_Orange_Retro_Photography_Club_Logo_1_in3n78.png" hidden>
                <input type="file" id="file-input" accept="image/*" hidden>
                <button id="file-button" type="button" class="btn btn-primary col-md-6 mx-auto" style="margin-top: 10px;">Upload Image</button>
                <p>Accepted Image Type: JPG, JPEG, PNG; Maximum Size: 1MB</p>
              </div>
               <div class="form-group">
                   <label for="student_id">ID:</label>
                   <input type="text" class="form-control" id="id" name="student_id" value="{{ student_id }}" readonly>
                   <input type="hidden" name="student_id" value="{{ student_id }}">
               </div>

               <div class="form-group">
                   <label for="first_name">First Name:</label>
                   <input type="text" class="form-control" id="first_name" name="first_name" value="{{first_name}}" required>
               </div>
               <div class="form-group">
                   <label for="last_name">Last Name:</label>
                   <input type="text" class="form-control" id="last_name" name="last_name" value="{{last_name}}" required>
               </div>    
               <div class="form-group">
                   <label for="course_code">Course Code:</label>
                   <select class="form-select" id="course_code" name="course_code" required>
                       <option value="{{ course_code }}" selected>{{ course_code }}</option>
                       {% for course in courses %}
                           {% if course.coursecode != course_code %}
                               <option value="{{ course.coursecode }}">{{ course.coursecode }}</option>
                           {% endif %}
                       {% endfor %}
                   </select>
               </div>
               <div class="form-group">
                   <label for="year_level">Year Level:</label>
                   <select class="form-select" id="year_level" name="year_level" required>
                       <option value="1" {% if year_level == '1' %}selected{% endif %}>1</option>
                       <option value="2" {% if year_level == '2' %}selected{% endif %}>2</option>
                       <option value="3" {% if year_level == '3' %}selected{% endif %}>3</option>
                       <option value="4" {% if year_level == '4' %}selected{% endif %}>4</option>
                       <option value="5" {% if year_level == '5' %}selected{% endif %}>5</option>
                       <option value="6" {% if year_level == '6' %}selected{% endif %}>6</option>
                   </select>
               </div>                
               <div class="form-group">
                   <label for="gender">Gender:</label>
                   <select class="form-select" id="gender" name="gender" required>
                       <option value="Male" {% if gender == 'Male' %}selected{% endif %}>Male</option>
                       <option value="Female" {% if gender == 'Female' %}selected{% endif %}>Female</option>
                   </select>
               </div> <br>
               <button type="submit" class="btn btn-primary col-md-12">Update Student</button>
           </form>
       </div>
   </div>

   <script>
    const fileInput = document.getElementById('file-input');
    const fileButton = document.getElementById('file-button');
    const imagePreview = document.getElementById('student_info_image');
    const imageUrlInput = document.getElementById('photo');
    const imagePreviewContainer = document.getElementById('student_image_container')

    fileButton.addEventListener('click', () => {
        fileInput.click();
    });

    fileInput.addEventListener('change', async () => {
        try {
            const formData = new FormData();
            formData.append("file", fileInput.files[0]);
            formData.append("csrf_token", "{{csrf_token()}}");

            const response = await fetch("{{url_for('student.upload_to_cloudinary')}}", {
                method: 'POST',
                body: formData
            });

            const data = await response.json();

            if (data && data.is_success) {

                const img = document.createElement("img");
                img.id = 'student_info_image';
                img.alt = "New Image Photo"
                img.src = data.url

                imagePreviewContainer.innerHTML = '';
                imagePreviewContainer.appendChild(img);

                imageUrlInput.value = data.url;
            } else {
                console.error("Upload failed:", data);
            }
        } catch (error) {
            console.error("An error occurred:", error);
        }
    });
</script>
{% endblock %}